/* Uso en general */
*{
    margin: 0;
    padding: 0;
}

/* Caja de todo el Body */
body{
    display: flex;
    justify-content: center;
}

/* Navegación */
.nav{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-bottom: 1px solid grey;
}

.logo-instagram img{
    width: auto;
    height: 80px;
}

.profiles, .icon{
    display: flex;
    align-items: center;
}
.photo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid grey;
    margin-left: 20px;
}

.fa-regular, .fa-solid{
    margin-left: 30px;
}

.name{
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


/* Ajuste al contenedor  */
.post, .post2, .post3{
    background-color: rgb(245, 239, 239);
    width: 600px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgb(245, 239, 239);
    margin: 70px 0;
}

/* Ajuste a la CAJA DE POST-HEADER */
.post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SEPARADOR DE ICONO DEL TITULO CON LOS TRES PUNTITOS */
.separador{
    display: flex;
    align-items: center;
}

/* ajuste de font */
.separador h4, p{
    font-family: 'Roboto', sans-serif;
}
.separador h4{
    font-size: 17px;
    font-weight: bold;
}

.separador p{
    font-size: 12px;
}

.sep{
    display: flex;
    align-items: center;
}
.sep p{
    margin: 0 5px;
}


/* Ajuste del logo */
.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 5px 10px;
}

/* Ajuste al icono de tres puntos */
.point{
    margin-right: 30px;
}

/* Ajuste de la caja de post-img */
.post-img img{
    width: 98%;
    margin: 0 1%;
    border-radius: 5px;
}



/* Ajuste de la CAJA DE ICONOS */
.icon, .parrafo1, .parrafo2{
    margin: 10px;
}

.far{
    margin-right: 15px;
}


.icon{
    display: flex;
    justify-content: space-between;
}

/* Caja de comentarios */
.comment{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.comment input{
    width: 75%;
    border: 0;
    background-color: rgb(245, 239, 239);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
}